<html>
    <head>
        <link href = "/styles.css" rel="stylesheet" type= "text/css" />
    </head>
    <body>
        <% include partial/navi.ejs %> 
        <h1> Login Successful</h1>
        <p>Welcome back <%= data.username%></p>
        
    </body>
</html>